.yotpo-reviews-carousel {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  .yotpo-icon-star, .yotpo-icon-empty-star, .yotpo-icon-full-star, .yotpo-icon-half-star {
    color: $yellow;
    font-size: 26px !important;
  }
  .icon-yotpo-top-corner, .icon-yotpo-right-corner, .icon-yotpo-left-corner {
    color: rgb(223, 223, 223);
    position: absolute;
  }
  .yotpo-icon-btn-big {
    padding: 0 0 0 5px;
  }
  .grid {
    padding-left: 15px;
    padding-right: 15px;
    .carousel-reviews-bottom-line {
      float: right;
    }
    &.extra-large {
    }
    &.large {
    }
    &.medium {
      .headline {
        font-size: 1.1em;
      }
      .all-reviews {
        font-size: 0.9em;
      }
    }
    &.small {
      &.has-testimonials-link {
        .headline {
          width: 100%;
          font-size: 1.2em;
          margin-bottom: 8px;
        }
        .all-reviews a {
          margin-left: 0px !important;
        }
      }
      .carousel-reviews-bottom-line {
        float: none;
      }
    }
    &.extra-small {
      &.has-testimonials-link {
        .headline,  {
          width: 100%;
          font-size: 1.2em !important;
        }
        .carousel-reviews-bottom-line {
          position: relative;
          top: 19px;
          float: none;
        }

        .all-reviews {
          width: 85%;
          position: relative;
          bottom: 20px;
        }
        .all-reviews a {
          margin-left: 0px !important;
        }
        .carousel-arrows {
          position: relative;
          top: 15px;
        }
      }
      .carousel-reviews-bottom-line {
        float: none;
      }
    }
    div {
      //display: inline-block;
      vertical-align: top;
    }

  }
  .carousel-display-wrapper {

    .stars-container {
      height: 26px;
    }
    .headline {
      margin-bottom: 8px;
      display: inline-block;
    }
    .carousel-read-more {
      white-space: nowrap;
      color: $primary;
    }
    .rest-content-collapsed {
      display: none;
    }
    .scroller {
      overflow-x: hidden;
    }
    #carousel-top-panel {
      border-bottom: 2px solid #e3e3e3;
      padding-bottom: 8px;
      margin-bottom: 5px;
      padding-top: 5px;
      float: none !important;
      .headline {
        color:  #4f4f4f;
        font-size: 1.3em; /* Approximation due to font substitution */
        font-weight: 700;
      }
      .yotpo-num-of-reviews {
        margin-left: 7px;
      }
      .yotpo-icon-star, .yotpo-icon-half-star, .yotpo-icon-empty-star {
        color: $yellow;
        font-size: 19px !important;
      }
      .carousel-reviews-bottom-line {

      }
      .all-reviews {
        display: inline-block;
        a {
          color:  #266abe;
          font-size: 1.3em; /* Approximation due to font substitution */
          font-weight: 400;
          margin-left: 5px;
        }
        a:hover {
          text-decoration: underline !important;
        }
      }
      .carousel-arrows {
        float: right;
        margin-left: 15px;
        .yotpo-icon-left-arrow-thin, .yotpo-icon-right-arrow-thin {
          color: #56575f;
        }
        .yotpo-icon-left-arrow-thin:hover, .yotpo-icon-right-arrow-thin:hover {
          cursor: pointer;
        }
      }
    }

    .yotpo-carousel {
      width: 15000px;
      padding-top: 15px;
      position: relative;
      .single-carousel {
        display: inline-block;
        vertical-align: top;
        .carousel-review-date {
          line-height: 29px;
          padding-left: 6px;
          font-style: italic !important;
          font-size: 12px;
        }
      }
      .carousel-site-quote-container {
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #e1e5ee;
        padding: 29px;
        .carousel-site-quote {
          font-size: 30px;
        }
      }
      .carousel-stars {
        letter-spacing: -1px;
        position: relative;
        right: 4px;
      }
      .carousel-review-author {
        color:  #737373;
        font-size: 12px; /* Approximation due to font substitution */
        font-weight: 700;
        text-align: left;
        margin-top: 4px;
        float: left;
      }
      .carousel-review-body {
        text-align: left;
        font-style: italic !important;
        margin-left: -3px;
      }
      .product-image-container {
        width: 89px;
      }
      .y-carousel-product-image {
        width: 90px;
        height: 90px;
        border-radius: 4px;
        text-align: center;
        overflow: hidden;
        img {
          height: 100%;

        }
      }
      .carousel-review-product-text {
        color:  #c6c6c6;
        font-size: 10px; /* Approximation due to font substitution */
        font-weight: 400;
        text-align: left;
        overflow: hidden;
        height: 41px;
        line-height: 1;
        margin-top: 4px;
        letter-spacing: -0.5px;
      }
      .yotpo-icon-star {
        color: $yellow;
        font-size: 32px;
      }
      .carousel-review-title {
        color:  #4f4f4f;
        font-size: 1.3em; /* Approximation due to font substitution */
        font-weight: 700;
        line-height: 24px;
        margin-top: 1px;
      }
      .big-version {
        width: 403px;
        box-sizing: border-box;

        .right-side {
          width: 300px;
          text-align: left;
        }
        .carousel-stars {
          margin-bottom: 14px;
        }
      }
      .small-version {
        width: 300px;
        box-sizing: border-box;
        .right-side {
          width: 194px;

        }
        .carousel-review-title {
          margin-bottom: 9px;
        }
      }
    }
  }
  .yotpo-small-box {
    float: right;
    padding: 0;
    border: none;
  }

  .carousel-tool-tip {
    .yotpo-tool-tip {
      top: -10px;
      right: 0px;
      width: 300px;
      overflow-y: auto;
      display: none;
      opacity: 1 !important;
      background: #F8F8F8;
    }
  }

  .carousel-read-more {
    color:  #266abe;
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 20px; /* Approximation due to font substitution */
    text-align: left;
    width: 90px;
  }
}
