.yotpo-carousel {
  border: 1px solid black;
  .carousel-review {
    width: 403px;
    color: red;




    


    .left {
      width: 70px;

    }
    .right {
      width: 300px;
      height: 208px;
    }

  }
}
