// Should include all widgets but badge.
.yotpo.yotpo-main-widget, .yotpo.embedded-widget, .yotpo.yotpo-modal, .yotpo.bottomLine {
  .yotpo-header .yotpo-icon-profile,
  .yotpo-icon-star,
  .yotpo-icon-half-star,
  .yotpo-icon-empty-star {
    color: transparent !important;
    background-color: transparent !important;
    background-image: url($sprite-sheet) !important;
  }
  .yotpo-header .yotpo-icon-profile .user-letter {
    display: none!important;
  }

  .yotpo-store-owner.yotpo-header .yotpo-icon-profile {
    background-color: $primary-l2!important;
    background-image: none!important;
    .user-letter {
      display: inline-block!important;
    }
  }

  /*.yotpo-comment .yotpo-header .yotpo-icon-profile label {
    display: none;
  }*/

  .yotpo-icon-star,
  .yotpo-icon-half-star,
  .yotpo-icon-empty-star {
    margin: 1px;
  }

  .yotpo-icon-star {
    background-position: -45px 0;
  }
  .yotpo-icon-half-star {
    background-position: -69px 0;
  }
  .yotpo-icon-empty-star {
    background-position: -93px 0;
  }

  .yotpo-bottomline,
  .write-review .yotpo-header {
    .yotpo-icon-star,
    .yotpo-icon-half-star,
    .yotpo-icon-empty-star {
      width: 24px!important;
      height: 24px!important;
    }
  }

  .yotpo-review .review-stars,
  .yotpo-comment .review-stars,
  .standalone-bottomline,
  .yotpo-modal-bottom-line .yotpo-bottomline,
  #embedded_widget,
  .yotpo-promoted-product .review-stars {
    .yotpo-icon {
      width: 18px!important;
      height: 18px!important;

      &.yotpo-icon-star {
        background-position: -117px 0;
      }
      &.yotpo-icon-half-star {
        background-position: -135px 0;
      }
      &.yotpo-icon-empty-star {
        background-position: -153px 0;
      }
    }
  }
}