// Should include all widgets but badge.
.yotpo.yotpo-main-widget, .yotpo.embedded-widget, .yotpo.yotpo-modal, .yotpo.bottomLine {
  .yotpo-header .yotpo-icon-profile,
  .yotpo-icon-star,
  .yotpo-icon-half-star,
  .yotpo-icon-empty-star {
    color: transparent !important;
    background-color: transparent !important;
    background-image: url($sprite-sheet) !important;
  }
  .yotpo-header .yotpo-icon-profile .yotpo-user-letter {
    display: none!important;
  }

  .yotpo-store-owner.yotpo-header .yotpo-icon-profile {
    background-color: $primary-l2!important;
    background-image: none!important;
    .yotpo-user-letter {
      display: inline-block!important;
    }
  }

  /*.yotpo-comment .yotpo-header .yotpo-icon-profile label {
    display: none;
  }*/

  .yotpo-icon-star,
  .yotpo-icon-half-star,
  .yotpo-icon-empty-star {
    margin: 1px;
  }

  .yotpo-icon-star {
    background-position: -45px 0;
  }
  .yotpo-icon-half-star {
    background-position: -69px 0;
  }
  .yotpo-icon-empty-star {
    background-position: -93px 0;
  }

  .yotpo-bottomline,
  .write-review .yotpo-header {
    .yotpo-icon-star,
    .yotpo-icon-half-star,
    .yotpo-icon-empty-star {
      width: 24px!important;
      height: 24px!important;
    }
  }

  .yotpo-bottomline{
    .yotpo-star-distribution{
      .review-stars{
        .yotpo-icon-star,
        .yotpo-icon-half-star,
        .yotpo-icon-empty-star {
          width: 13px!important;
          height: 13px!important;
          background-position: -187px 0px;
        }
      }
    }
  }

  @mixin stars-module($size) {
    width: $size!important;
    height: $size!important;

    &.yotpo-icon-star {
      background-position: -117px 0;
    }
    &.yotpo-icon-half-star {
      background-position: -135px 0;
    }
    &.yotpo-icon-empty-star {
      background-position: -153px 0;
    }
  }

  .yotpo-review .yotpo-review-stars,
  .yotpo-comment .yotpo-review-stars,
  .standalone-bottomline,
  .yotpo-modal-bottom-line .yotpo-bottomline,
  .yotpo-promoted-product .yotpo-review-stars {
    .yotpo-icon {
      @include stars-module(18px);
    }
  }

  #embedded_widget .yotpo-icon {
    @include stars-module(17px);
  }
}