// Should include all widgets but badge.
.yotpo.yotpo-main-widget, .yotpo.embedded-widget, .yotpo.yotpo-modal {
  .yotpo-header .icon-profile,
  .icon-star,
  .icon-half-star,
  .icon-empty-star {
    color: transparent !important;
    background-color: transparent !important;
    background-image: url($sprite-sheet) !important;
  }
  .yotpo-header .icon-profile .user-letter {
    display: none!important;
  }

  .yotpo-comment .yotpo-header .icon-profile label {
    display: none;
  }

  .icon-star,
  .icon-half-star,
  .icon-empty-star {
    margin: 1px;
  }

  .icon-star {
    background-position: -45px 0;
  }
  .icon-half-star {
    background-position: -69px 0;
  }
  .icon-empty-star {
    background-position: -93px 0;
  }

  .yotpo-bottomline,
  .write-review .yotpo-header {
    .icon-star,
    .icon-half-star,
    .icon-empty-star {
      width: 24px!important;
      height: 24px!important;
    }
  }

  .yotpo-review .review-stars .icon,
  .yotpo-comment .review-stars .icon,
  .yotpoBottomline,
  .yotpo-modal-bottom-line .yotpo-bottomline .icon,
  #embedded_widget .icon {
    width: 18px!important;
    height: 18px!important;

    &.icon-star {
      background-position: -117px 0;
    }
    &.icon-half-star {
      background-position: -135px 0;
    }
    &.icon-empty-star {
      background-position: -153px 0;
    }
  }
}