$blue: #00abc7;
$orange: #efae00;
$yellow: #ffd200;
$green: #3aba6f;
$white: #ffffff;
$black: #000000;
$red: #fb5654;
$gray: #a2a2a2;
$gray-light: #e3e3e3;
$gray-dark: #737373;
$gray-darker: #4f4f4f;
$primary: #3085c7;
$primary-d1: #266a9f;
$primary-d2: #1d5077;
$primary-l1: #599dd2;
$primary-l2: #83b6dd;
$primary-l3: #accee9;
$primary-l4: #d6e7f4;
$bg-color: transparent;
$font-type: Verdana;
$flip: 1;
$flipIE: '';

$testimonials-bg-color: $primary;
$testimonials-text-color: $white;
$testimonials-opacity: 1;
$promoted-product-background: $white;

$main-widget-width: 100%;

$font-url-eot:  '../fonts/yotpo-widget-font.eot';
$font-url-woff: '../fonts/yotpo-widget-font.woff';
$font-url-ttf:  '../fonts/yotpo-widget-font.ttf';
$font-url-svg:  '../fonts/yotpo-widget-font.svg';


$tab_left:      '../images/tab_left.jpg';
$tab_right:     '../images/tab_right.jpg';

$default-white: #ffffff;
$default-black: #000000;
$default-red: #fb5654;
$default-gray: #a2a2a2;
$default-gray-light: #e3e3e3;
$default-gray-dark: #737373;
$default-gray-darker: #4f4f4f;

$left: left;
$right: right;
$dir: LTR;
