/* For index.html display only */
/* line 4, ../ds_sass/custom_fields.scss */
.custom-field-wrapper table {
  border: none;
  width: inherit;
  border-spacing: 2px;
  font-family: arial, sans-serif;
  color: #000000;
}
/* line 11, ../ds_sass/custom_fields.scss */
.custom-field-wrapper td {
  border: none;
  text-align: left;
}

/* line 17, ../ds_sass/custom_fields.scss */
.large-code-example {
  background: black !important;
  color: white;
  overflow: hidden;
  text-align: left;
  resize: none;
  width: 80%;
  max-width: 500px !important;
}

/* Custom Fields */
/* line 29, ../ds_sass/custom_fields.scss */
.custom-field .red-text {
  color: #ff0000;
}
/* line 32, ../ds_sass/custom_fields.scss */
.custom-field input {
  margin-right: 10px;
}
/* line 35, ../ds_sass/custom_fields.scss */
.custom-field .field-text-left {
  text-align: left;
}
/* line 38, ../ds_sass/custom_fields.scss */
.custom-field .field-grey-text {
  color: #8d8d8d;
}
/* line 41, ../ds_sass/custom_fields.scss */
.custom-field .yotpo-rating-bar {
  width: 18px;
  height: 6px;
  padding: 0;
}
/* line 46, ../ds_sass/custom_fields.scss */
.custom-field .yotpo-rating-bar-full {
  background-color: #3085C7;
}
/* line 49, ../ds_sass/custom_fields.scss */
.custom-field .yotpo-rating-bar-empty {
  background-color: #E3E3E3;
}
/* line 52, ../ds_sass/custom_fields.scss */
.custom-field .yotpo-rating-bar-divider {
  width: 1px;
  height: 6px;
  background-color: white;
  padding: 0;
}
