/*
Error: File to import not found or unreadable: ../sass/core_v2.
       Load paths:
         Compass::SpriteImporter
         /Users/zanamich/Development/yotpo-workspace/yotpo-ds/ds_sass
         /Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets
        on line 24 of /Users/zanamich/Development/yotpo-workspace/yotpo-ds/./ds_sass/yotpo.scss

19: $badge_reviews_top: -100px;
20: $badge_reviews_font_size: 33px;
21: 
22: /* Yotpo *\/
23: @import "../sass/general_rules";
24: @import "../sass/core_v2";
25: @import "../sass/embedded_widget";
26: @import "../sass/badge";
27: /* End Yotpo *\/

Backtrace:
/Users/zanamich/Development/yotpo-workspace/yotpo-ds/./ds_sass/yotpo.scss:24
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:45:in `import'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/tree/root_node.rb:20:in `render'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/zanamich/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/zanamich/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
/Users/zanamich/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `eval'
/Users/zanamich/.rvm/gems/ruby-2.2.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../sass/core_v2.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/zanamich/Development/yotpo-workspace/yotpo-ds/ds_sass\A          /Users/zanamich/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets\A         on line 24 of /Users/zanamich/Development/yotpo-workspace/yotpo-ds/./ds_sass/yotpo.scss\A \A 19: $badge_reviews_top: -100px;\A 20: $badge_reviews_font_size: 33px;\A 21: \A 22: /* Yotpo */\A 23: @import \"../sass/general_rules\";\A 24: @import \"../sass/core_v2\";\A 25: @import \"../sass/embedded_widget\";\A 26: @import \"../sass/badge\";\A 27: /* End Yotpo */"; }
