/* DS */
/* line 23, ../sass/ds.scss */
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-size: 14px;
  line-height: 17px;
  color: #a2a2a2;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 41, ../sass/ds.scss */
#content-wrapper .side-part, #content-wrapper .content .param, #content-wrapper .content .small-title {
  color: black !important;
}

/* line 48, ../sass/ds.scss */
.preview-boxes div.regular-box, .preview-boxes div.small-box, .preview-boxes div.regular-small-box {
  border: solid 1px grey !important;
  background: #f0a3cc !important;
}

/* line 54, ../sass/ds.scss */
.inner-box {
  width: 100% !important;
  height: 40px !important;
  background: white !important;
}

/* line 60, ../sass/ds.scss */
#design-faker {
  background: url("../images/typography2.jpg") no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  max-width: 1000px;
  width: 100%;
  height: 1000px;
  top: -4px;
  display: none;
}

/* line 71, ../sass/ds.scss */
#content-wrapper {
  position: relative;
  max-width: 900px !important;
  width: 100% !important;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 78, ../sass/ds.scss */
.side-part {
  font-weight: bold !important;
  font-size: 17px !important;
  margin-top: 20px !important;
}

/* line 83, ../sass/ds.scss */
.content {
  margin: 20px 0 0 10% !important;
}

/* line 86, ../sass/ds.scss */
.content-full-length {
  margin: 0px !important;
  border-bottom: 1px solid !important;
  padding-bottom: 40px !important;
}

/* line 91, ../sass/ds.scss */
section {
  max-width: 755px !important;
  width: 100% !important;
  margin: 0 auto !important;
  border-bottom: 1px solid !important;
  padding-bottom: 30px !important;
  margin-bottom: 30px !important;
}

/* line 100, ../sass/ds.scss */
h3 {
  font-family: Verdana;
  margin-bottom: 35px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #2e8bc8 !important;
  text-transform: uppercase !important;
}

/* line 108, ../sass/ds.scss */
.content ul {
  font-weight: light;
  list-style: none;
  padding: 0;
  line-height: 21px;
  font-size: 15px;
}

/* line 115, ../sass/ds.scss */
bold {
  font-weight: bolder;
}

/* line 118, ../sass/ds.scss */
div.exmple-box {
  border: 1px solid black !important;
  text-align: center !important;
  padding: 30px 10px !important;
  display: inline-block !important;
  width: 100% !important;
}

/* line 125, ../sass/ds.scss */
.small-title {
  font-size: 12px !important;
  color: grey !important;
}

/* line 129, ../sass/ds.scss */
.clr {
  clear: both;
}

/* line 132, ../sass/ds.scss */
textarea.code-example {
  background: black !important;
  color: white;
  overflow: hidden;
  text-align: left;
  resize: none;
  width: 80%;
  max-width: 400px !important;
}

/* line 141, ../sass/ds.scss */
.color-list {
  list-style: none;
}

/* line 144, ../sass/ds.scss */
.color-item {
  width: 80px;
  text-align: center;
  float: left;
  margin-right: 20px;
  min-height: 140px;
}

/* line 152, ../sass/ds.scss */
.color-circle {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
  border: 1px solid black !important;
  height: 38px !important;
  width: 38px !important;
  margin: 7px auto !important;
}

/* line 161, ../sass/ds.scss */
.color-circle.big {
  height: 55px;
  width: 55px;
}

/* line 166, ../sass/ds.scss */
.icon-holders {
  margin-left: 10%;
}
/* line 168, ../sass/ds.scss */
.icon-holders .icon-holder {
  margin-bottom: 8px;
  min-width: 276px;
  display: inline-block;
  margin-right: 60px;
}
/* line 173, ../sass/ds.scss */
.icon-holders .icon-holder .icon {
  margin-right: 10px;
}

/* line 179, ../sass/ds.scss */
.icons-buttons .icon-btn {
  margin-top: 5px;
}

/* line 185, ../sass/ds.scss */
.moblie-simulator {
  width: 200px;
  display: inline-block;
}

/* End DS */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* Mobile Portrait Size to Mobile Size (devices and browsers) */
