/* DS */
/* line 22, ../sass/ds.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 27, ../sass/ds.scss */
#content-wrapper .side-part, #content-wrapper .content .param, #content-wrapper .content .small-title {
  color: black;
}

/* line 34, ../sass/ds.scss */
.preview-boxes div.regular-box, .preview-boxes div.small-box, .preview-boxes div.regular-small-box {
  border: solid 1px grey;
  background: #F0A3CC;
}

/* line 40, ../sass/ds.scss */
.inner-box {
  width: 100%;
  height: 40px;
  background: white;
}

/* line 46, ../sass/ds.scss */
#design-faker {
  background: url("../images/typography2.jpg") no-repeat;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  max-width: 1000px;
  width: 100%;
  height: 1000px;
  top: -4px;
  display: none;
}

/* line 57, ../sass/ds.scss */
#content-wrapper {
  position: relative;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 64, ../sass/ds.scss */
.side-part {
  font-weight: bold;
  font-size: 17px;
  margin-top: 20px;
}

/* line 69, ../sass/ds.scss */
.content {
  margin: 20px 0 0 10%;
}

/* line 72, ../sass/ds.scss */
.content-full-length {
  margin: 0px;
  border-bottom: 1px solid;
  padding-bottom: 40px;
}

/* line 77, ../sass/ds.scss */
section {
  max-width: 755px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* line 86, ../sass/ds.scss */
h3 {
  font-family: Verdana;
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: bold;
  color: #2e8bc8;
  text-transform: uppercase;
}

/* line 94, ../sass/ds.scss */
.content ul {
  font-weight: light;
  list-style: none;
  padding: 0;
  line-height: 21px;
  font-size: 15px;
}

/* line 101, ../sass/ds.scss */
bold {
  font-weight: bolder;
}

/* line 104, ../sass/ds.scss */
.exmple-box {
  border: 1px solid black;
  text-align: center;
  padding: 30px 10px;
  display: inline-block;
  width: 100%;
}

/* line 111, ../sass/ds.scss */
.small-title {
  font-size: 12px;
  color: grey;
}

/* line 115, ../sass/ds.scss */
.clr {
  clear: both;
}

/* line 118, ../sass/ds.scss */
textarea.code-example {
  background: black !important;
  color: white;
  overflow: hidden;
  text-align: left;
  resize: none;
  width: 80%;
  max-width: 400px;
}

/* line 127, ../sass/ds.scss */
.color-list {
  list-style: none;
}

/* line 130, ../sass/ds.scss */
.color-item {
  width: 80px;
  text-align: center;
  float: left;
  margin-right: 20px;
  min-height: 140px;
}

/* line 138, ../sass/ds.scss */
.color-circle {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid black;
  height: 38px;
  width: 38px;
  margin: 7px auto;
}

/* line 147, ../sass/ds.scss */
.color-circle.big {
  height: 55px;
  width: 55px;
}

/* line 152, ../sass/ds.scss */
.icon-holders {
  margin-left: 10%;
}
/* line 154, ../sass/ds.scss */
.icon-holders .icon-holder {
  margin-bottom: 8px;
  min-width: 276px;
  display: inline-block;
  margin-right: 60px;
}
/* line 159, ../sass/ds.scss */
.icon-holders .icon-holder .icon {
  margin-right: 10px;
}

/* line 165, ../sass/ds.scss */
.icons-buttons .icon-btn {
  margin-top: 5px;
}

/* line 171, ../sass/ds.scss */
.moblie-simulator {
  width: 200px;
  display: inline-block;
}

/* End DS */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* Mobile Portrait Size to Mobile Size (devices and browsers) */
