/*
Syntax error: Undefined variable: "$font-type".
        on line 8 of /Users/billykov/Development/yotpo-workspace/yotpo-ds/sass/general_rules.scss

Backtrace:
/Users/billykov/Development/yotpo-workspace/yotpo-ds/sass/general_rules.scss:8
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/script/variable.rb:49:in `_perform'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/script/node.rb:40:in `perform'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/bin/compass:44:in `call'
/Users/billykov/.rvm/gems/ruby-2.1.1/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/Users/billykov/.rvm/gems/ruby-2.1.1/bin/compass:23:in `load'
/Users/billykov/.rvm/gems/ruby-2.1.1/bin/compass:23:in `<main>'
/Users/billykov/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/billykov/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$font-type\".\A         on line 8 of /Users/billykov/Development/yotpo-workspace/yotpo-ds/sass/general_rules.scss"; }
