/* General elements rules to override general rules in client sites */
/* line 3, ../sass/general_rules.scss */
.yotpo-display-wrapper {
  visibility: visible !important;
}

/* line 7, ../sass/general_rules.scss */
.yotpo {
  text-align: left;
}
/* line 8, ../sass/general_rules.scss */
.yotpo div, .yotpo span, .yotpo p, .yotpo a, .yotpo img, .yotpo i, .yotpo strong, .yotpo sup, .yotpo ul, .yotpo li, .yotpo form, .yotpo label {
  font-family: Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-size: 14px;
  line-height: 17px;
  color: #a2a2a2;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 22, ../sass/general_rules.scss */
.yotpo div p, .yotpo div a, .yotpo div img, .yotpo div i, .yotpo div strong, .yotpo div sup, .yotpo div ul, .yotpo div li, .yotpo div form, .yotpo div label, .yotpo span p, .yotpo span a, .yotpo span img, .yotpo span i, .yotpo span strong, .yotpo span sup, .yotpo span ul, .yotpo span li, .yotpo span form, .yotpo span label, .yotpo p p, .yotpo p a, .yotpo p img, .yotpo p i, .yotpo p strong, .yotpo p sup, .yotpo p ul, .yotpo p li, .yotpo p form, .yotpo p label, .yotpo a p, .yotpo a a, .yotpo a img, .yotpo a i, .yotpo a strong, .yotpo a sup, .yotpo a ul, .yotpo a li, .yotpo a form, .yotpo a label, .yotpo img p, .yotpo img a, .yotpo img img, .yotpo img i, .yotpo img strong, .yotpo img sup, .yotpo img ul, .yotpo img li, .yotpo img form, .yotpo img label, .yotpo i p, .yotpo i a, .yotpo i img, .yotpo i i, .yotpo i strong, .yotpo i sup, .yotpo i ul, .yotpo i li, .yotpo i form, .yotpo i label, .yotpo strong p, .yotpo strong a, .yotpo strong img, .yotpo strong i, .yotpo strong strong, .yotpo strong sup, .yotpo strong ul, .yotpo strong li, .yotpo strong form, .yotpo strong label, .yotpo sup p, .yotpo sup a, .yotpo sup img, .yotpo sup i, .yotpo sup strong, .yotpo sup sup, .yotpo sup ul, .yotpo sup li, .yotpo sup form, .yotpo sup label, .yotpo ul p, .yotpo ul a, .yotpo ul img, .yotpo ul i, .yotpo ul strong, .yotpo ul sup, .yotpo ul ul, .yotpo ul li, .yotpo ul form, .yotpo ul label, .yotpo li p, .yotpo li a, .yotpo li img, .yotpo li i, .yotpo li strong, .yotpo li sup, .yotpo li ul, .yotpo li li, .yotpo li form, .yotpo li label, .yotpo form p, .yotpo form a, .yotpo form img, .yotpo form i, .yotpo form strong, .yotpo form sup, .yotpo form ul, .yotpo form li, .yotpo form form, .yotpo form label, .yotpo label p, .yotpo label a, .yotpo label img, .yotpo label i, .yotpo label strong, .yotpo label sup, .yotpo label ul, .yotpo label li, .yotpo label form, .yotpo label label {
  background: inherit !important;
}
